.button{
  background-color: var(--button-background);
  width: var(--button-width);
  cursor: pointer;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 2px 2px 2px #dfd6d6;
  outline: none;
  border-radius: var(--button-border-radius);
}